{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data/'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx22 = document.getElementById("myChart22");


    var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: labels,
        datasets: [{
            label: 'counties',
            data:  defaultData,
            backgroundColor: palette('tol', defaultData.length).map(function(hex) {
                 return '#' + hex;
            }),
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    });

    var myChart22 = new Chart(ctx22, {
    type: 'doughnut',
    data: {
        labels: labels,
        datasets: [{
            label: 'counties',
            data:  defaultData,
            backgroundColor: palette('tol', defaultData.length).map(function(hex) {
                 return '#' + hex;
            }),
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            xAxes: [{
                display: this.scalesdisplay,
                ticks: {
                    beginAtZero:this.beginzero,
                }
            }],
            yAxes: [{
                display: this.scalesdisplay,
                ticks: {
                    beginAtZero:this.beginzero,
                }
            }]
        }
    }
    });
}
// var ctx = document.getElementById("myChart");



{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-6'>
        <h1>mois octobre</h1>

        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class='col-sm-6'>
        <h1>mois septembre</h1>
        <canvas id="myChart22" width="400" height="400"></canvas>
    </div>
<
</div>

{% endblock content %}
